$xs : 480px; 
$xs-1 : 400px ; 
$xs-2 : 360px; 
$s : 600px; 
$s-1 : 840px; 
$m : 960px; 
$l : 1280px; 
$l-1 : 1440px; 
$l-2 : 1600px; 
$xl : 1920px; 

$btn-xl : 72px; 
$btn-big : 60px; 
$btn-med : 48px; 

$reff : 20px; 
